<%

returnVar("title", "Apie projektą");


%>
<div id="page"><div>
<h1>Apie projektą</h1>

<p>Šiuo metu Lietuvoje:</p>

<ul>
    <li><p>Eiliniam piliečiui yra sunku suprasti tai kas vyksta valdžioje. Valstybės institucijų svetainės yra nepatogios. Žiniasklaida šiek tiek padeda, bet neretai ir trukdo.</p></li>
    <li><p>Žmogui "iš gatvės", susidomėjus kokio politinio klausimo svarstymu, sunku iš anksto sužinoti kada bus priimami svarbūs sprendimai šiuo klausimu ir kaip pareikšti savo nuomonę.</p></li>
</ul>

<p>Manome, kad taip neturėtų būti. Matome kiek naujų galimybių suteikia internetas ir manome, kad šią problemą greičiau ir geriau gali išspręsti patys piliečiai, o ne valdžios įstaigos.</p>

<p>Taip ir atsirado ši svetainė. Ji yra skirta:</p>

<ul>
    <li><p>Leisti žmonėms geriau suprasti kas yra svarstoma aukščiausiose valstybės valdymo institucijose.</p></li>
    <li><p>Padėti aktyviems piliečiams lengviau įsitraukti į svarbių sprendimų svarstymą.</p></li>
</ul>

<h2>Kam priklauso ši svetainė?</h2>

<p>Svetainę sukūrė ir palaiko Google grupės "<a href="http://groups.google.com/group/manovalstybe">Mano valstybė</a>" nariai.</p>

<p>Ši grupė atsirado kai, daugiausiai vieni kitų nepažįstantys aktyvūs piliečiai, susirinko susipažinti su <a href="http://mysociety.org/">mySociety.org</a> kuriamais <a href="http://www.mysociety.org/projects/">pilietiniais-internetiniais įrankiais</a> Didžiojoje Britanijoje. Po susirinkimo, savo bendravimą pratęsėme virtualiojoje erdvėje.</p>

<p>"Mano valstybė" yra atvira ir vieša grupė:</p>

<ul>
    <li>Esame atviri visiems, norintiems prisijungti prie mūsų, kuriant bei plėtojant šį ir kitus panašius projektus.</li>
    <li>Mūsų planai, darbai ir diskusijos yra skelbiami viešai internete.</li>
</ul>

<h3>Talkininkai</h3>

<ul>
    <li>Emilis Dambauskas &mdash; idėja, programavimas;</li>
    <li>Rapolas Binkis &mdash; vizualinis sprendimas;</li>
    <li>Žygimantas Medelis &mdash; programavimas;</li>
    <li>dr. Vaidas Morkevičius &mdash; pavadinimas;</li>
    <li>Nomeda Repšytė &mdash; pagalba ruošiant projekto dokumentą paramai;</li>
    <li>Agnė Kazlauskaitė &mdash; pagalba ruošiant medžiagą žiniasklaidai;</li>
    <li>Beatričė かたつむりのようせい &mdash; pagalba ruošiant medžiagą žiniasklaidai;</li>
    <li><em>ir kiti grupės nariai prisidėję daugybe pastabų, patarimų ir pasiūlymų.</em></li>
</ul>

<h2>Parama projektui</h2>

<p><a href="http://transparency.lt/"><img src="/static/files/KaVeikiaValdzia/tils.png" border="0" alt="Transparency International Lietuvos skyrius" align="right"></a>Nuo 2010 m. ManoValstybės projektinė ir finansinė veikla sudaro <a href="http://transparency.lt/">"Transparency International" Lietuvos skyriaus (TILS)</a>  "Manovalstybės" programą. Šios programos tikslas yra skatinti pilietinės visuomenės dalyvavimą skaidriame ir atskaitingame demokratiniame šalies valdyme.</p>

<p>Šiuo metu svetainės tolesnio kūrimo ir vystymo darbus remia <a href="http://soros.org/">Atviros visuomenės institutas</a> bei <a href="http://mysociety.org/">mySociety.org</a> (į ManoValstybę panaši organizacija D. Britanijoje).</p>

<h3>Reklama parėmė:</h3>

<p><a href="http://ltv.lt/"><img src="<%=config.FILES_URL %>/KaVeikiaValdzia/LTV-180x70.gif.png" border="0" alt="Lietuviškų tinklalapių vitrina" align="left" hspace="10"></a>
<a href="http://tinklink.lt/"><img src="<%=config.FILES_URL %>/KaVeikiaValdzia/tinklink.jpg" border="0" alt="tinklink.lt" align="left" hspace="10"></a></p>

<p style="clear: both">&nbsp;</p>

<h3 style="clear:both">Paremkite ir jūs</h3>

<p>Svetainės kūrėjų rekvizitus rasite <a href="http://manovalstybe.lt/parama/">ManoValstybė.lt</a> svetainėje.</p>

</div></div>
