<div id="page"><div>
<h1>Apie paiešką</h1>

<ul>
    <li><a href="#fraze">Kaip ieškoti tikslios frazės tekste?</a></li>
    <li><a href="#operacijos">Kaip naudoti logines operacijas (IR / ARBA / NE)?</a></li>
    <li><a href="#data">Kaip ieškoti dokumentų pagal datą</a></li>
    <li><a href="#laukai">Kaip ieškoti antraštėse, pagal dokumentų tipą, įstaigą ir kitus laukus?</a></li>
</ul>

<h3 id="fraze">Kaip ieškoti tikslios frazės tekste?</h3>

<p>Norėdami surasti tikslią frazę (pvz. <a href="<%= config.URLS.base %>/docs/search/?q=&quot;žmogaus+teisės&quot;">"žmogaus teisės"</a>) įrašykite ją tarp kabučių.</p>

<p>Kitu atveju sistema ras visus dokumentus, kuriuose žodžiai yra bet kuriose teksto vietose. Tai gali netikti tam ko jūs ieškote (pvz.: <a href="<%= config.URLS.base %>/docs/search/?q=žmogaus+teisės">žmogaus teisės</a>).</p>

<p align="right"><a href="#page">Į viršų</a></p>


<h3 id="operacijos">Kaip naudoti logines operacijas (IR / ARBA / NE)?</h3>

<p></p>

</div></div>
