<%

exports.title = "Programuotojams";

%>
<div id="page"><div>
<h1>Programuotojams</h1>

<h2>API</h2>

<table border="1" cellpadding="5">
<thead><tr>
    <th>URL</th>
    <th>Formatas</th>
    <th>Duomenys</th>
</tr></thead>
<tbody>
<tr><td><code>/docs/rss/</code></td><td>RSS</td><td>20 naujausių dokumentų.</td></tr>
<tr><td><code>/docs/rss/?q=zodis</code></td><td>RSS</td><td>20 naujausių dokumentų, kuriuose yra žodis "zodis" ir jo gramatinės formos (linksniai, kt.). Plačiau apie užklausos formatą skaitykite <a href="/pages/paieska">patarimuose paieškai</a>.</td></tr>
<tr><td nowrap="nowrap"><code>/docs/2010/05/17/12541.json/</code></td><td>JSON</td><td>Dokumento duomenys.</td></tr>
</tbody>
</table>

<p>Jei norite gauti visus mūsų turimus dokumentus JSON formatu viename archyve -- <a href="mailto:emilis.d@gmail.com">parašykite</a>. Gailme aptarti ir galimybę pastoviai sinchronizuoti duomenis su jūsų sistema.</p>

<h2>Atviras kodas</h2>

<p>Svetainės kodas yra laisvai prieinamas internete pagal <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero General Public License (AGPL)</a>.</p>

<p>Projektas vystomas <a href="http://github.com/">GitHub</a> svetainėje: <a href="http://github.com/emilis/PolicyFeed">http://github.com/emilis/PolicyFeed</a>.</p>

<p>Norintys galite parsisiųsti kodą tokios komandos pagalba:</p>

<pre>git clone git@github.com:emilis/PolicyFeed.git</pre>

<p>Apie tai kaip pasileisti aplikaciją, skaitykite <a href="http://github.com/emilis/PolicyFeed/blob/master/README.md">README</a> faile.</p>

<h2>Architektūra</h2>

<p>Sistema susluoksniuota maždaug taip:</p>

<ol>
    <li>Svetainės moduliai rašyti JavaScript taikantis prie <a href="http://commonjs.org/">CommonJS standarto</a>.</li>
    <li><a href="http://ringojs.org/">RingoJS karkasas</a>.</li>
    <li><a href="http://www.mozilla.org/rhino/">Mozilla Rhino</a> JavaScript variklis.</li>
    <li><a href="http://en.wikipedia.org/wiki/Java_Virtual_Machine">Java Virtuali Mašina</a>.</li>
    <li>Linux.</li>
</ol>

<h3>Kodėl pasirinkau tokią architektūrą?</h3>

<ol>
    <li><p>Nes noriu, kad jei kas sumanytų prisijungti prie manęs programuojant, turėtų kuo mažiau sunkumų: PHP/Ruby/Python patinka ne visiems, JavaScript moka beveik visi web programuotojai.</p></li>
    <li><p>Jau seniai norėjau išbandyti ir pasižiūrėti ar galima programuoti JavaScript serverio pusėje -- taip juk reikia naudoti mažiau programavimo kalbų. Padariau išvadą, kad galima ir yra patogu.</p></li>
    <li><p>Šiame projekte reikia perdirbinėti labai daug HTML puslapių, tai mano vienas iš tikslų buvo pabandyti tam panaudoti jQuery -- patogiausią man žinomą įrankį manipuliuoti HTML struktūromis. Galutiniame variante daugiau naudoju <a href="http://htmlunit.sourceforge.net/">htmlunit</a> (nes dažniausiai užtenka <a href="http://en.wikipedia.org/wiki/XPath">XPath</a> ir <a href="http://en.wikipedia.org/wiki/Document_Object_Model">DOM</a> funkcijų), bet yra vietų, kur neišsiverčiu ir be jQuery.</p></li>
    <li><p>Iš mano bandytų <a href="http://en.wikipedia.org/wiki/Server-side_JavaScript">Server-Side JavaScript (SSJS)</a> platformų, man labiausiai patiko RingoJS -- veikia stabiliai, lengvai ir greitai. Projekto komanda nedidelė ir draugiška, su tomis technologijomis dirba jau senokai. Norėjau išbandyti <a href="http://en.wikipedia.org/wiki/V8_%28JavaScript_engine%29">V8</a> ir jo "draugus", bet tuo metu kai pradėjau kurti šią svetainę man jų nepavyko susikompiliuoti savo 64bitų linux kompiuteryje.</p></li>
</ol>

</div></div>
