<%

exports.title = "Ačiū!";

%>
<div id="page"><div>

<h1>Ačiū!</h1>
<p>Apie svarbius tinklalapio atnaujinimus pranešime jums el. paštu.</p>
<p><a href="<%= config.URLS.base %>/pages/sveiki">Atgal</a> &nbsp;|&nbsp; <a href="<%= config.URLS.base %>/">Į pirmą puslapį</a></p>

</div></div>
