<div id="page"><div>
<h1>Prašome patvirtinti savo tapatybę</h1>
<p>Jūsų nurodytu el. paštu išsiuntėme nuorodą, kurią paspaudę galėsite pasiekti tuo el. paštu užsakytų pranešimų sąrašą.</p>
<p>Užsakytų pranešimų sąrašo pavyzdys:</p>
<p><img src="<%= config.URLS.files %>/PolicyFeed/AlertManager-showList.png" alt="pavyzdys" class="example"></p>
<p><a href="<%= config.URLS.base %>/">Grįžti į pirmą puslapį</a></p>
</div></div>
