* {
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: white url('left-bg.png') repeat-y scroll 0 0;
}

pre, code, tt {
    font-family: monospace;
}

a:link { color: #047bbf; }

a:visited { color: #551A8B; }

a > img {
    border: 0;
}


img.example {
    border: 1px solid #e5e5e5;
    padding: 4px;
    background-color: #efefef;
}

p.message {
    border: 1px solid #dddcbd;
    background-color: #fffedf;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}

table.dict {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

    table.dict th,
    table.dict td {
        padding: 5px;
        border: 1px solid #ccc;
    }

    table.dict > tbody > tr > td.key {
        font-weight: bold;
    }

/* --- Rounded double borders: --- */
#page,
#document,
#results,
div.day {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #efefef;
    padding: 2px;
    margin-bottom: 2em;
}

#page > div,
#document > div,
#results > div,
div.day > div {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: white;
}

    #page tt {
        background-color: #fffedf;
        padding: 2px 5px;
        border: 1px dotted #ccc;
    }

/* --- Top: --- */
#top {
    height: 48px;
    background: #4a4a4a url('menu-bg.png') repeat-x scroll 0 0;
}

    #logo {
        float: left;
    }

    #top-end {
        float: right;
    }

    #menu-ext {
        display: block;
        float: right;
        height: 48px;
        margin: 0;
        padding: 0;
    }

        #menu-ext > li {
            display: inline;
            float: right;
            *float: none; /* Hack for IE7 */

            border-left: 1px dotted #828282;
        }

            #menu-ext > li > a {
                display: inline;
                float: right;
                padding: 16px 20px 14px 22px;
                background-color: #5c5950;
                color: white;
                text-decoration: none;
                font-family: Arial, sans-serif;
                font-size: 12px;
                font-weight: bold;
            }

            #menu-ext > li > a:hover {
                background-color: #4b4841;
            }

    #menu {
        display: block;
        float: left;
        height: 48px;

        margin: 0;
        padding: 0;
    }

        #menu > li {
            display: inline;
            float: left;
            border-right: 1px dotted #828282;
        }

            #menu > li > a {
                display: inline;
                float: left;
                padding: 16px 20px 14px 22px;
                background-color: #5c5950;
                color: white;
                text-decoration: none;
                font-family: Arial, sans-serif;
                font-size: 12px;
                font-weight: bold;
                /*text-transform: uppercase;*/
            }

            #menu > li > a:hover {
                background-color: #4b4841;
            }

            #menu > li > a.active {
                background-color: #4b4841;
            }
/* --- Main: --- */

#main {
    clear: left;
    margin: 14px 10px 40px 215px;
}

    #breadcrumbs {
        padding: 6px 0px 24px 8px;
        font-size: 17px;
    }

    #search {
        color: #999;
        margin-bottom: 1.5em;
    }
        #search > input {
            font-style: normal;
            font-size: 13px;
        }

        #q {
            width: 450px;
            padding: 5px 9px;
            margin-right: 5px;
            background-color: #fffedf;
            border-width: 1px;
            font-style: normal;
        }

        #search-submit {
            padding: 3px 13px;
        }

        #search-hint {
            margin: 4px 0 0 10px;
            font-style: italic;
            font-size: 11px;
        }


    #results-info {
        border: 1px solid #dfdfdf;
        padding: 8px 10px 3px 10px;
        margin: 20px 0px 13px 0px;
        vertical-align: middle;
    }

        #result-count {
            font-size: 16px;
            font-weight: bold;
            color: #999;
        }

            #result-count > em {
                color: black;
                font-style: normal;
            }

        #result-subscribe {
            font-size: 13px;
            font-weight: bold;
            color: #333;
        }

            #subscribe-message {
                margin: 5px 0 0 0;
                padding: 2px;
                text-align: center;
            }

        #rss-search {
            padding-bottom: 1px;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
        }

            #rss-search > span {
                padding-bottom: 2px;
            }

        #rss-search:hover {
            text-decoration: underline;
        }

    #results {
        margin-top: 1.5em;
    }
   


        #results-table,
        table.day {
            width: 100%;
            border-collapse: collapse;
        }

            table.day > thead,
            #results-table > thead {
                background-color: #fafafa;
            }

                #results-table > thead th,
                table.day > thead th {
                    border-bottom: 1px solid #e4e4e4;
                    border-top: 1px solid white;
                    border-left: 1px solid white;
                    padding: 10px;
                    text-align: left;
                    font-weight: normal;
                    font-size: 22px;
                    color: #666;
                }
            #results-table > tfoot > tr > th {
                padding: 10px 10px 10px 5px;
                border-top: 1px dotted #ccc;
                text-align: left;
            }

                #older {
                    color: #047bbf;
                    text-decoration: underline;
                    cursor: pointer;
                }

                #older:hover {
                    text-decoration: none;
                }

                    #older-image,
                    #older-image-still {
                        text-decoration: none;
                    }

            tr.added {
                display: none;
            }
                #results-table > tbody td,
                table.day > tbody td {
                    border-top: 1px dotted #ccc;
                }

                #results-table > tbody > tr.expanded > td,
                table.day > tbody > tr.expanded > td {
                    background-color: #fafafa;
                    border-top: 2px solid #ccc;
                }

                #results-table > tbody > tr.content > td,
                tbody > tr.content > td {
                    padding: 1em;
                    border-top: none;
                    font-size: 13px;
                    border-bottom: 2px solid #ccc;
                    border-top: 0px;
                }

                td.org {
                    vertical-align: top;
                    font-size: 11px;
                    padding: 7px 4px 4px 10px;
                    width: 66px;
                }

                    td.org > a {
                        color: #666;
                        text-decoration: none;
                    }

                    td.org > a:hover {
                        text-decoration: underline;
                    }

                td.type {
                    vertical-align: top;
                    padding: 8px 2px 4px;
                    width: 35px;
                    font-size: 6px;
                }
                
                td.title {
                    vertical-align: top;
                    padding: 4px;
                }

                    td.title > a {
                        text-decoration: none;
                    }

                    td.title > a:hover {
                        text-decoration: underline;
                    }

                    td.title > a.title {
                        font-size: 13px;
                        font-family: Verdana, sans-serif;
                    }

                    td.title > p {
                        font-size: 13px;
                        margin: 2px 0px 4px 0px;
                        font-family: Verdana, sans-serif;
                        font-size: 11px;
                    }

                        td.title > p > em {
                            font-style: normal;
                            background-color: #fff595;
                            padding: 0px 1px 0px 3px;
                            border-radius: 2px;
                            -moz-border-radius: 2px;
                        }

                td.time {
                    font-size: 9px;
                    color: #666;
                    vertical-align: top;
                    padding: 8px 2px 4px 4px;
                    width: 27px;
                }

                td.expand {
                    font-size: 9px;
                    color: #666;
                    text-align: right;
                    vertical-align: top;
                    padding: 7px 10px 4px 2px;
                    width: 37px;
                }

                    td.expand a {
                        color: #bbb;
                    }

                    td.expand a:hover {
                        text-decoration: none;
                    }
                
/* --- Search results: ---*/


/* --- Left: --- */
#left {
    position: absolute;
    top: 48px;
    left: 8px;
    width: 186px;
    padding-bottom: 2em;
}

    #left a { text-decoration: none; }
    #left a:hover { text-decoration: underline; }

    #left > div {
        background-color: white;
        padding-bottom: 5px;
    }

        #left > div > h3 {
            padding: 6px 9px;
            margin: 18px 0 10px 0;
            background: #f5f5f5 url('left-div-head.png') no-repeat scroll 50% 50%;
            color: #4a4a4a;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-weight: bold;
            text-shadow: 1px 1px 2px white;
        }

        #left > div > hr {
            border: 1px dotted #cecece;
        }

        #left > div > div {
            margin: 10px;
            font-size: 12px;
        }

            #left > div > div > p {
                margin: 5px 0;
            }

    div#calendar {
        background-color: #f5f5f5;
        padding-bottom: 0;
    }

        div#calendar > h3 {
            margin: 15px 0px 5px 0px;
        }

        #calendar > table {
            border-collapse: collapse;
            color: #666;
        }

            #calendar > table th,
            #calendar > table td {
                height: 24px;
                width: 26px;
                padding: 0;
                background-color: white;
                vertical-align: middle;
                text-align: center;
                border: 1px dotted #d3d3d3;
                font-family: Arial, sans-serif;
                font-size: 12px;
                font-weight: bold;
            }

            #calendar > table th.title {
                width: auto;
            }

                #calendar th > a {
                    cursor: pointer;
                    padding: 2px 22px;
                    font-size: 16px;
                    font-weight: normal;
                }

            #calendar > table tr.wd > th {
                font-size: 11px;
                font-weight: normal;
            }

            #calendar > table > tbody > tr > td {
                font-weight: bold;
                color: #ccc;
            }

                #calendar > table > tbody > tr > td > a {
                    display: block;
                    width: 100%;
                    height: 18px;
                    padding: 5px 0 0 0;

                    text-align: center;
                }

                #calendar > table a {
                    text-decoration: none;
                }

                #calendar > table a:hover {
                    text-decoration: underline;
                    color: red;
                }

                #calendar > table a:visited {
                    background-color: #f4f5f3;
                }
            #calendar > table > tbody > tr > td.today {
                color: #d0001f;
                font-size: 16px;
            }
            #calendar > table > tbody > tr > td.today > a {
                color: #d0001f;
                padding: 2px 0 3px 0;
            }

            #calendar > table > tbody > tr > td.selected > a {
                background-color: #d0001f;
                color: white;
            }


/* --- Document: --- */

#page,
#document {
    margin-left: 8px;
}

    #page a:hover,
    #document a:hover {
        text-decoration: none;
    }

    #page > div,
    #document > div {
        padding: 23px;
    }

        #page > div > h1,
        #document-title {
            margin-top: 0;
            font-weight: normal;
            font-size: 24px;
        }


        #document-side {
            float: right;
            width: 260px;
            margin: 0 0 12px 12px;

        }

            #document-info {
                border: 1px solid #c0b189;
                background-color: #fcf9ef;
                font-size: 11px;
            }

                #document-info > h3 {
                    background-color: #e8e4cf;
                    color: #726d56;
                    padding: 10px;
                    margin: 0;
                    font-size: 14px;
                }

                #document-info > h4 {
                    background-color: #e8e4cf;
                    color: #726d56;
                    padding: 10px;
                    margin: 0;
                    font-size: 12px;
                }


                #document-info > div {
                    border-top: 1px dotted #b7b7b7;
                    text-align: center;
                }

                    #document-info > div > a {
                        display: block;
                        padding: 13px;
                        font-weight: bold;
                    }

                #document-info > table,
                #document-info > div > table {
                    width: 240px;
                    margin: 5px;
                }

                    #document-info > table > tbody > tr > td,
                    #document-info > div > table > tbody > tr > td {
                        padding: 4px 3px;
                        font-size: 11px;
                        text-align: left;
                    }

                    #document-info > table > tbody > tr > td.label,
                    #document-info > div > table > tbody > tr > td.label {
                        width: 78px;
                        font-weight: bold;
                        text-align: right;
                        vertical-align: top;
                    }

            #document-share {
                margin: 12px 0;
                border: 1px solid #c0b189;
                padding: 0;
                font-size: 11px;
            }

                #document-share > legend {
                    font-size: 13px;
                    font-weight: bold;
                    color: #333;
                    margin-left: 8px;
                }

                #document-share > ul {
                    display: block;
                    margin: 0;
                    padding: 10px;
                    border-bottom: 1px dotted #b7b7b7;
                }

                    #document-share > ul > li {
                        display: inline;
                        padding: 0 20px 0 0;
                    }

                #document-share > form {
                    padding: 10px;
                    margin: 0;
                }

                    #document-share > form > span {
                        color: #666;
                    }

                    #document-share > form > input.email {
                        background-color: #fffdcb;
                        border: 1px solid #c6c6c6;
                        padding: 3px 5px;
                        width: 150px;
                        margin: 0 7px 0 0;
                    }

                    #document-share > form > input.button {
                        padding: 2px 10px;
                        font-size: 13px;
                        color: #666;
                        width: 65px;
                    }

/*--- Pages ---*/
#page {
    margin-top: 20px;
}

    #page h2 {
        font-weight: normal;
    }

/*--- Comments ---*/
#idc-container-parent {
    margin: 33px;
    clear: both;
}


/*--- Filter page ---*/

#filter-select {
    border: 1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    padding: 10px;
}

#filter-table ul {
    list-style: none;
    padding-left: 0px;
}

#filter-table li {
    margin: 2px 0;
    border-bottom: 1px dotted #ccc;
}

#filter-table a {
    text-decoration: none;
    font-size: 12px;
}

#filter-table > tbody > tr > td {
    vertical-align: top;
    width: 33%;
}

#expansion {
    background-color: #f8f8f8;
}

#expansion > tr {
    display: none;
}


#expand-links > td > a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

#expand-links > td.active {
    background-color: #f8f8f8;
}

.silent {
    color: #999;
}

#filter-examples ul {
    margin: 0;
    padding: 0;
}

#search-all-link {
    font-weight: bold;
    font-size: 13px;
    text-align: right;
    margin: 1em 10px 10px;
}

#filter-hints{
    margin: 20px 0;
    padding: 0 0 0 22px;
}

#filter-hints > li {
    padding: 0;
    margin: 2px 0;
}
