<div><h3>Filtravimas / santrumpos:</h3>
    <ul id="legend"><%

        var sources = {
            "lrs-ps": "Seimo pranešimai spaudai",
            "lrs-db": "Seimo darbotvarkės",
            "lrs-ta": "Seimo teisės aktų projektai",
            "lrv-na": "Vyriausybės naujienos",
            "lrv-db": "Vyriausybės darbotvarkės"
            };

        for (var source in sources)
        {
            print('<li><a href="',
                config.URLS.base,
                '/docs/search/?q=',
                source.toUpperCase(),
                '"><img src="',
                config.URLS.files,
                '/KaVeikiaValdzia/', 
                source,
                '.gif" align="top">&nbsp; ',
                sources[source],
                '</a></li>');
        }

    %>
    </ul>
    <div align="right"><a href="<%= config.URLS.base %>/pages/saltiniai">nuorodos į šaltinius...</a></div>
</div>

