<%

var {org_group_map, people, savivaldybes} = vars;
var groupmap = org_group_map;

exports.title = 'Visas srautas vienoje vietoje';

%>
<h1 class="silent" style="padding: 0 2px;">KąVeikiaValdžia.lt yra:<br><small>&nbsp;&bull; Per 25000 valdžios įstaigų nutarimų, pranešimų, projektų, darbotvarkių.<br>&nbsp;&bull; Operatyviai atnaujinama informacija.</small></h1>

<div id="filter-select">
<div style="padding: 0 10px;">
<h2 class="silent">Raskite ir užsisakykite tai, kas aktualu Jums:</h2>
<form id="search" method="get" action="/docs/search/">
<p><input id="q" name="q">
<input id="search-submit" type="submit" value="Ieškoti">
<a href="/pages/paieska" style="font-size: 12px; text-decoration: none;">Patarimai paieškai</a></p>
</form>
<span class="silent">Paieškų pavyzdžiai:</span>
</div>

<table id="filter-table" border="0" cellspacing="0" cellpadding="10">
<tbody id="filter-examples">
<tr>
    <td><ul><%

var top = groupmap.top;
var i = Math.floor(Math.random() * top.length);
print('<li><a href="/docs/search/?q=', encodeURIComponent(top[i].query), '">', top[i].org, '</a></li>');

var ministerijos = groupmap.ministerijos;
var i = Math.floor(Math.random() * ministerijos.length);
print('<li><a href="/docs/search/?q=', encodeURIComponent(ministerijos[i].query), '">', ministerijos[i].organization, '</a></li>');

var i = Math.floor(Math.random() * groupmap.LT.length);
print('<li><a href="/docs/search/?q=', encodeURIComponent(groupmap.LT[i].query), '">', groupmap.LT[i].organization, '</a></li>');


%></ul>
</td>
<td><ul><%

for (var i=0;i<3;i++) {
    var k = Math.floor(Math.random() * people.length);
    var person = people[k];
    print('<li><a href="/docs/search/?q=', encodeURIComponent(person.query), '" title="', person.title, '">', person.fname, " ", person.lname, '</a></li>');
}


%></ul>
</td>
<td><%


print('<ul>');
for (var i=0;i<3;i++) {
    var k = Math.floor(Math.random() * savivaldybes.length);
    var sav = savivaldybes[k];
    if (sav) {
        print('<li><a href="/docs/search/?q=', encodeURIComponent(sav.query), '">', sav.title, '</a></li>');
    } else {
        print(k);
    }
}

%></ul>
</td></tr>
<tr id="expand-links">
<td class="orgs"><a href="javascript:PolicyFeed.expandFilters('orgs');">Daugiau įstaigų ir organizacijų &hellip;</a></td>
<td class="people"><a href="javascript:PolicyFeed.expandFilters('people');">Daugiau politikų, tarnautojų, pareigūnų &hellip;</a></td>
<td class="regions"><a href="javascript:PolicyFeed.expandFilters('regions');">Daugiau savivaldybių &hellip;</a></td>
</tbody>
<tbody id="expansion">
<tr class="orgs">
<%

var groups = {
    top: "Aukščiausios valstybės institucijos",
    ministerijos: "Ministerijos",
    Prezidentas: "Prezidentui atskaitingos institucijos",
    Seimas: "Seimui atskaitingos institucijos",
    "Vyriausybė": "Vyriausybei atskaitingos institucijos",
    AM: "Aplinkos ministerijos įstaigos",
    EnMin: "Energetikos ministerijos įstaigos",
    FinMin: "Finansų ministerijos įstaigos",
    KAM: "Krašto apsaugos ministerijos įstaigos",
    LRKM: "Kultūros ministerijos įstaigos",
    SocMin: "Socialinės apsaugos ir darbo ministerijos įstaigos",
    SM: "Susisiekimo ministerijos įstaigos",
    SAM: "Sveikatos apsaugos ministerijos įstaigos",
    "ŠMM": "Švietimo ir mokslo ministerijos įstaigos",
    TM: "Teisingumo ministerijos įstaigos",
    "ŪkMin": "Ūkio ministerijos įstaigos",
    URM: "Užsienio reikalų ministerijos įstaigos",
    VRM: "Vidaus reikalų ministerijos įstaigos",
    "ŽŪM": "Žemės ūkio reikalų ministerijos įstaigos",
    partijos: "Politinės partijos"
};

var total = 0;
for (var k in groups) {
    if (groupmap[k]) {
        total += groupmap[k].length;
    }
}

var column = Math.ceil(total / 3);

var current = 0;
print('<td>');
for (var k in groups) {
    if (current > column) {
        print('</td><td>');
        current = 0;
    }

    if (groupmap[k]) {
        current += groupmap[k].length;

        print('<h4><a href="/docs/search/?q=orgroups:', k, '">', groups[k], '</a></h4><ul>');
        for each (var org in groupmap[k]) {
            var name = org.organization
                .replace("Lietuvos Respublikos", "LR")
                .replace("Valstybės įmonė", "VĮ")
                .replace("Viešoji įstaiga", "VšĮ");
            print('<li><a href="/docs/search/?q=', encodeURIComponent(org.query), '">', name, '</a></li>');
        }
        print('</ul>');
    }
}
print('</td>');

%>
</tr>
<tr class="people">
<%

var column = Math.ceil(people.length / 3);

var last_letter = "";
for (var i=0;i<3;i++) {
    print('<td><ul>');
    for (var j=0;j<column;j++) {
        var k = i*column + j;
        var person = people[k];
        if (person) {
            if (person.lname[0] != last_letter) {
                last_letter = person.lname[0];
                print('<li><b>', last_letter, '</b></li>');
            }
            print('<li><a href="/docs/search/?q=', encodeURIComponent(person.query), '" title="', person.title, '">', person.fname, ' ', person.lname, '</a></li>');
        }

    }
    print('</ul></td>');
}

%>
</tr>
<tr class="regions">
<%

var column = Math.ceil(savivaldybes.length / 3);
for (var i=0;i<3;i++) {
    print('<td><ul>');
    for (var j=0;j<column;j++) {
        var k = i*column + j;
        if (savivaldybes[k]) {
            print('<li><a href="/docs/search/?q=', encodeURIComponent(savivaldybes[k].query), '">', savivaldybes[k].title, '</a></li>');
        }
    }
    print('</ul></td>');
}

%></tr>

</tbody>
</table>
<p id="search-all-link"><a href="/docs/">Visos naujienos</a></p>
</div>

<ul id="filter-hints" class="silent">
<li>Ar žinote ką veikia jūsų rinktas Seimo narys?</li>
<li>Ar žinote ką veikia valdžia jūsų mieste ar rajone?</li>
<li>Iš anksto sužinokite ką planuoja valdžios institucijos &mdash; skelbiame projektus ir darbotvarkes.</li>
<li>Jums aktualias naujienas galite užsisakyti el. paštu, RSS, įsikelti į savo tinklalapį ar Facebook puslapį.</li>
</ul>

