<%

var config = require("config");
var dates = require("ringo/utils/dates");

var site_files = config.FILES_URL + "/KaVeikiaValdzia";

var query;
if (query && query.entitize)
    query = query.entitize();


/**
 * Converts an ISO string back to Date object.
 */
function isoToJsDate(str)
{
    var arr = str.replace(/[-T:.Z]/g, "-").split("-");
    arr[1] = parseInt(arr[1], 10) - 1;
    return new Date( Date.UTC.apply(undefined, arr) );
}



returnVar("side", 
    loadObject("PolicyFeed/Calendar").showBlock()
    );

print(require("PolicyFeed").showSearchBlock(query));

%>
<div id="results"><div>
<table id="results-table">
<thead><tr><th colspan="5"><%

    print('<span id="result-count">Rodoma <em><span id="results-shown">' + docs.length +'</span> iš <span id="results-total">' + numFound + '</span></em> rezultatų pagal užklausą <em>"' + query + '"</em></span>');
    print('<a id="rss-search" href="' + config.WEB_URL + '/docs/rss/?q=' + query + '">');
    print('<img src="' + site_files + '/rss.png" align="absmiddle"> Užsakykite RSS pranešimus su "' + query  + '"</a>');

%></th></tr></thead>
<tbody>
<%

var url = "";
var tr_id = "";

for each(var doc in docs)
{
    if (!doc.type)
        doc.type = "unknown";
    if (!doc.org)
        doc.org = "???";
    if (!doc.organization)
        doc.organization = "???";

    url = config.WEB_URL + doc.id;
    tr_id = doc.id.replace(/\//g, "-");

    doc.published = isoToJsDate(doc.published);

    print('<tr id="' + tr_id + '">');
    print('<td class="org" nowrap="nowrap" align="right">');
        print('<a href="', config.WEB_URL, '/docs/search/?q=org:', doc.org, '" title="', doc.organization, '">', doc.org, '&nbsp;&raquo;</a></td>');
    print('<td class="type">');
        print('<a href="', config.WEB_URL, '/docs/search/?q=type:', doc.type, '" title="', doc.type, '"><img src="', site_files, '/', doc.type, '.png"></a></td>');
    print('<td class="title">');

    print('<a href="' + url + '" class="title">' + doc.title + '</a>');
    if (highlighting[doc.id] && highlighting[doc.id].html)
        print('<p>', highlighting[doc.id].html.join("</p><p>") , '</p>');
    print('</td>');
    
    print('<td class="time" nowrap="nowrap">', dates.format(doc.published, "yyyy-MM-dd"), "</td>");
    print('<td class="expand"><a href="' + url + '" onClick="PolicyFeed.expandDocument(this);return false;">išskleisti</a></td>');
    print('</tr>');
}

%>
</tbody>
<%

if (docs.length > 0 && docs.length < numFound) {

    %>
<tfoot><tr><th colspan="5">
    <a id="older" onClick="PolicyFeed.loadSearchResults(this);return false;">
        <img id="older-image-still" src="<%=site_files%>/clock-still.gif" align="absmiddle">
        <img id="older-image" src="<%=site_files%>/clock.gif" align="absmiddle" style="display: none;">
        Senesni įrašai</a>
</th></tr></tfoot>
<%
}
%>
</table>
</div></div>
