<%

var {doc} = vars;

%><!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= doc.title %></title>
</head>
<body>
<h1><%= doc.title %></h1>
<%= doc.html %>
</body>
</html>
