<%

// Requirements:
var ringo_strings = require("ringo/utils/strings");

// Input vars:
var {query} = vars;

%><form id="search" action="<%= config.URLS.base %>/docs/search/">
    <input id="q" name="q" value="<%= query %>"><input id="search-submit" type="submit" value="Ieškoti">
    <a href="<%= config.URLS.base %>/pages/paieska" style="font-size: 11px;">Patarimai paieškai</a>
    <p id="search-hint">PVZ.: <%

    var suggestions = ["Kubilius", '"žmogaus teisės"', "Šilutė", "žvejyba, žūklė, medžioklė"];
    suggestions = suggestions.map(function (item) {
            return '<a href="' + config.URLS.base + '/docs/search/?q=' + ringo_strings.entitize(item) + '">' + item + '</a>';
            });
    print(suggestions.join(", "));
    
    %></p>
</form>

