<%

var strings = require("ringo/utils/strings");
var config = require("config");

var query;

%><form id="search" action="<%= config.WEB_URL %>/docs/search/">
    <input id="q" name="q" value="<%= query %>"><input id="search-submit" type="submit" value="Ieškoti">
    <p id="search-hint">PVZ.: <%

    var suggestions = ["Kubilius", '"žmogaus teisės"', "Šilutė", "žvejyba, žūklė, medžioklė"];
    suggestions = suggestions.map(function (item) {
            return '<a href="' + config.WEB_URL + '/docs/search/?q=' + strings.entitize(item) + '">' + item + '</a>';
            });
    print(suggestions.join(", "));
    
    %></p>
</form>

