<%

// Requirements:
var ctl_dates = require("ctl/utils/dates");

// Input vars:
var {docs} = vars;


%><?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>KąVeikiaValdžia.lt</title>
        <description>Visas valdžios naujienų srautas vienoje vietoje.</description>
        <link><%= config.URLS.full %>/</link>
        <%

for each (var doc in docs) {
    print('<item>\n');
        print('  <title><![CDATA[' + doc.org + '» ' + doc.type + '» ' + doc.title + ']]></title>\n');
        print('  <link>', config.URLS.full, doc.id, '</link>\n');
        print('  <guid>', config.URLS.full, doc.id, '</guid>\n');
        print('  <pubDate>' + ctl_dates.fromUTCString(doc.published).toString() + '</pubDate>\n');
        print('  <description><![CDATA[' + doc.html + ']]></description>');
    print('</item>\n');
}

%>
    </channel>
</rss>
