<%

// Requirements:
var ctlDate = require("ctl/Date");

// Input vars:
var {docs} = vars;


%><?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>KąVeikiaValdžia.lt</title>
        <description>Visas valdžios naujienų srautas vienoje vietoje.</description>
        <link>http://kaveikiavaldzia.lt/</link>
        <%

for each (var doc in docs) {
    print('<item>\n');
        print('  <title><![CDATA[' + doc.org + '» ' + doc.type + '» ' + doc.title + ']]></title>\n');
        print('  <link>http://kaveikiavaldzia.lt' + doc.id + '</link>\n');
        print('  <guid>http://kaveikiavaldzia.lt' + doc.id + '</guid>\n');
        print('  <pubDate>' + ctlDate.fromUTCString(doc.published).toString() + '</pubDate>\n');
        print('  <description><![CDATA[' + doc.html + ']]></description>');
    print('</item>\n');
}

%>
    </channel>
</rss>
