<%

// Requirements:
var Calendar = require("PolicyFeed/Calendar");
var PolicyFeed = require("PolicyFeed");
var ringo_dates = require("ringo/utils/dates");

// Constants:
var BASE_URL = config.URLS.base;
var site_files = config.URLS.files + "/KaVeikiaValdzia";

// Input vars:
var {mode, query, docs, numFound} = vars;

exports.side = Calendar.showBlock(day)

var wdays = [
    "sekmadienis",
    "pirmadienis",
    "antradienis",
    "trečiadienis",
    "ketvirtadienis",
    "penktadienis",
    "šeštadienis"
    ];

/**
 * Converts an ISO string back to Date object.
 */
function isoToJsDate(str)
{
    var arr = str.replace(/[-T:.Z]/g, "-").split("-");
    arr[1] = parseInt(arr[1], 10) - 1;
    return new Date( Date.UTC.apply(undefined, arr) );
}


print(PolicyFeed.showSearchBlock(query));

%>
<div id="doc-list">
<%

var day = "";
var dday = "";
var wday = "";
var url = "";
var div_id = "";

var count = 0;    
for each(var doc in docs)
{
    if (!doc.type)
        doc.type = "unknown";
    if (!doc.org)
        doc.org = "???";
    if (!doc.organization)
        doc.organization = "???";

    doc.published = isoToJsDate(doc.published);

    count++;
    dday = ringo_dates.format(doc.published, "yyyy-MM-dd");
    if (dday != day)
    {
        if (day)
            print('</tbody></table></div></div>');
        
        wday = wdays[doc.published.getDay()];
        print('<div class="day"><div><table class="day">');
        print('<thead><tr><th colspan="5">' + dday + ' / ' + wday + '</th></tr></thead>');
        print('<tbody>');

        day = dday;
    }

    url = BASE_URL + doc.id;
    div_id = doc.id.replace(/\//g, "-");

    print('<tr id="' + div_id + '">');
    print('<td class="org" nowrap="nowrap" align="right">');
        print('<a href="', BASE_URL, '/docs/search/?q=org:', doc.org, '" title="', doc.organization, '">', doc.org, '&nbsp;&raquo;</a></td>');
    print('<td class="type">');
        print('<a href="', BASE_URL, '/docs/search/?q=type:', doc.type, '" title="', doc.type, '"><img src="', site_files, '/', doc.type, '.png"></a></td>');
    print('<td class="title">');
    print('<a href="' + url + '" class="title">' + doc.title + '</a></td>');
    print('<td class="time">', ringo_dates.format(doc.published, "HH:mm"), "</td>");
    print('<td class="expand"><a href="' + url + '" onClick="PolicyFeed.expandDocument(this);return false;">išskleisti</a></td>');
    print('</tr>');

}

print('</tbody></table></div></div>');

%>
</div>
